# Clustering

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.cluster import KMeans

In [2]:
# Import Data
wine_train = pd.read_csv(
    "/Users/datascience/Desktop/ADS 502 Data Sets/Website Data Sets/white_wine_training.csv")
wine_test = pd.read_csv(
    "/Users/datascience/Desktop/ADS 502 Data Sets/Website Data Sets/white_wine_test.csv")

## 11. Input and standardize both the training and test data sets.

In [3]:
X_train = wine_train[['alcohol', 'sugar']]
X_ztrain = pd.DataFrame(stats.zscore(X_train), columns = ['alchohol', 'sugar'])

X_test = wine_test[['alcohol', 'sugar']]
X_ztest = pd.DataFrame(stats.zscore(X_test), columns = ['alchohol', 'sugar'])

## 12. Run k‐means clustering on the training data set, using two clusters.

In [4]:
#K means cluster (2)
km_train = KMeans(n_clusters = 2).fit(X_ztrain)
# Investigate Clustering Results
cluster = km_train.labels_
#Separate records intwo two groups based on cluster membership
Cluster1 = X_ztrain.loc[cluster==0]
Cluster2 = X_ztrain.loc[cluster==1]

## 13. Give the mean of each variable within each cluster and use the means to identify a “Dry wines” and a “Sweet wines” cluster.

In [5]:
#Summary statistics for Cluster 1
Cluster1.describe()

          alchohol        sugar
count  1097.000000  1097.000000
mean      0.490305    -0.623752
std       0.905663     0.475694
min      -1.576448    -1.122791
25%      -0.156821    -0.951551
50%       0.427732    -0.844525
75%       1.179299    -0.352208
max       2.891203     1.477928

In [6]:
#Summary statistics for Cluster 2
Cluster2.describe()

         alchohol       sugar
count  712.000000  712.000000
mean    -0.755428    0.961034
std      0.580989    0.818726
min     -1.826971   -0.908740
25%     -1.158911    0.354160
50%     -0.908388    0.867883
75%     -0.407343    1.488630
max      2.014374    5.512788

Based on the summary statistics for the two clusters, cluster 2 is considered 'Sweet Wines' because it has a signficantly higher sugar mean than cluster 1. Therefore, Cluster 1 is considered 'Dry Wines' (significantly lower sugar mean)

## 14. Validate the clustering results by running k‐means clustering on the test data set, using two clusters, and identifying a “Dry wines” and a “Sweet wines” cluster.

In [7]:
# CLuster algo
km_test = KMeans(n_clusters = 2).fit(X_ztest)
# Investigate Clustering Results
cluster1 = km_test.labels_
#Separate records intwo two groups based on cluster membership
Cluster1T = X_ztest.loc[cluster1==0]
Cluster2T = X_ztest.loc[cluster1==1]

In [8]:
#Summary statistics for Cluster 1
Cluster1T.describe()

          alchohol        sugar
count  1123.000000  1123.000000
mean      0.455364    -0.605388
std       0.903549     0.459725
min      -1.675754    -1.089453
25%      -0.218729    -0.945241
50%       0.347892    -0.821632
75%       1.157351    -0.285988
max       2.776268     1.423949

In [9]:
#Summary statistics for Cluster 2
Cluster2T.describe()

         alchohol       sugar
count  637.000000  637.000000
mean    -0.802784    1.067269
std      0.561634    0.778760
min     -2.080483   -1.037949
25%     -1.190079    0.404167
50%     -0.947241    1.032518
75%     -0.542512    1.588762
max      1.562080    3.298700

Based on the summary statistics for the two clusters, cluster 2 is considered 'Sweet Wines' because it has a signficantly higher sugar mean than cluster 1. Therefore, Cluster 1 is considered 'Dry Wines' (significantly lower sugar mean)

In [10]:
#Difference in mean to Validate

#Means of sugar and alc for test dataset
c1_mean_test_alc = round(Cluster1T['alchohol'].mean(),2)
c1_mean_test_sugar = round(Cluster1T['sugar'].mean(),2)
c2_mean_test_alc = round(Cluster2T['alchohol'].mean(),2)
c2_mean_test_sugar = round(Cluster2T['sugar'].mean(),2)

#Means of sugar and alc for training dataset
c1_mean_train_alc = round(Cluster1['alchohol'].mean(),2)
c1_mean_train_sugar = round(Cluster1['sugar'].mean(),2)
c2_mean_train_alc = round(Cluster2['alchohol'].mean(),2)
c2_mean_train_sugar = round(Cluster2['sugar'].mean(),2)

#Difference in means
Diff_sug_sweet = (c2_mean_train_sugar - c2_mean_test_sugar)
Diff_sug_dry = c1_mean_train_sugar - c1_mean_test_sugar
Diff_alc_sweet = c2_mean_train_alc - c2_mean_test_alc 
Diff_alc_dry = c1_mean_train_alc - c1_mean_test_alc 

#Table
table = [["Variable", "Sweet Wines", "Dry Wines"], 
         ["Sugar", Diff_sug_sweet, Diff_sug_dry], 
         ["Alcohol", Diff_alc_sweet, Diff_alc_dry]]

In [25]:
table

[['Variable', 'Sweet Wines', 'Dry Wines'],
 ['Sugar', -0.1100000000000001, -0.010000000000000009],
 ['Alcohol', 0.040000000000000036, 0.02999999999999997]]

The datasets are validated. However, the difference of means are relatively small, to further validate the datasets, a two-sample t-test should be used.